@import url("../../assets/stylesheets/general.css");

.Card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 5vh;
  margin: 5vh;
  height: 90vh;
}

.Name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
}

.Image {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 5;
  width: 100%;
  height: 80%;
  margin-top: 5vh;
}

.Info {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  font-size: 2vw;
  border: 1px solid whitesmoke;
}

.Title {
  background-color: var(--color-4);
  font-weight: bold;
  color: white;
}

.Data {
  background-color: white;
}

.Back {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  background-color: var(--color-4);
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Prompt', sans-serif;
  width: 30%;
  height: 30%;
  border-radius: 50px;
  cursor: pointer;
}
