@import url("../../assets/stylesheets/general.css");

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 5vh;
  padding: 5vh;
  height: 7vh;
  width: 40%;
  /* background-color: var(--color-5); */
  /* transform: skewX(-30deg); */
  border-radius: 10px;
}

.Item:hover {
  background-color: var(--color-5);
  cursor: pointer;
}

.Item > * {
  pointer-events: none;
}

.Image {
  width: 15vh;
  height: 15vh;
  /* transform: skewX(30deg); */
}

.Name {
  font-size: 4vh;
  width: 60%;
  background-color: black;
  color: whitesmoke;
  border-radius: 0px 50px 50px 0px;
  text-align: center;
  /* transform: skewX(30deg); */
  font-family: 'Prompt', sans-serif;
}

.Number {
  font-size: 4vh;
  background-color: var(--color-4);
  color: whitesmoke;
  width: 30%;
  padding: 0 3vh;
  border-radius: 50px 0px 0px 50px;
  /* transform: skewX(30deg); */
  font-weight: bolder;
  font-family: 'Prompt', sans-serif;
}