*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #d92027;
  --color-2: #ccafaf;
  --color-3: #d1cebd;
  --color-4: #d63447;
  --color-5: #aaaaaa;
  --color-6: #534e52;
  
  --normal: #a4acaf;
  --poison: #b97fc9;
  --psychic: #f366b9;
  --grass: #9bcc50;
  --ground1: #f7de3f;
  --ground2: #ab9842;
  --ice: #51c4e7;
  --fire: #fd7d24;
  --rock: #a38c21;
  --dragon1: #53a4cf;
  --dragon2: #f16e57;
  --water: #150485;
  --bug: #729f3f;
  --dark: #707070;
  --fight: #d56723;
  --ghost: #7b62a3;
  --steel: #9eb7b8;
  --fly1: #3dc7ef;
  --fly2: #bdb9b8;
  --electric: #eed535;
  --fairy: #fdb9e9;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
