*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #d92027;
  --color-2: #ccafaf;
  --color-3: #d1cebd;
  --color-4: #d63447;
  --color-5: #aaaaaa;
  --color-6: #534e52;
  --color-7: #150485;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');
